@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Oswald:wght@200&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #0a0d11;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

  {
  /* ::-webkit-scrollbar {
    width: 7px;
    border-radius: 100%;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #0a0d11;
    margin-top: 2rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00fff5;
    border-radius: 50px;
  } */
}